## Java

*.class
*.war
*.ear
hs_err_pid*

## Robovm
/gdx-vr-ios/robovm-build/

## GWT
/tests/vr-test-html/war/
/tests/vr-test-html/gwt-unitCache/
.apt_generated/
.gwt/
gwt-unitCache/
www-test/
.gwt-tmp/

## Android Studio and Intellij and Android in general
/tests/vr-test-android/libs/
/tests/vr-test-android/gen/
.idea/
*.ipr
*.iws
*.iml
/android/out/
com_crashlytics_export_strings.xml

## Eclipse

.classpath
.project
.metadata/
/gdx-vr-android/bin/
/gdx-vr-core/bin/
/gdx-vr-desktop/bin/
/gdx-vr-html/bin/
/gdx-vr-ios/bin/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans

/nbproject/private/
/gdx-vr-android/nbproject/private/
/gdx-vr-core/nbproject/private/
/gdx-vr-desktop/nbproject/private/
/gdx-vr-html/nbproject/private/
/gdx-vr-ios/nbproject/private/

/build/
/gdx-vr-android/build/
/gdx-vr-core/build/
/gdx-vr-desktop/build/
/gdx-vr-html/build/
/gdx-vr-ios/build/
/tests/vr-test-android/build/
/tests/vr-test-core/build/
/tests/vr-test-desktop/build/
/tests/vr-test-html/build/
/tests/vr-test-ios/build/

/nbbuild/
/gdx-vr-android/nbbuild/
/gdx-vr-core/nbbuild/
/gdx-vr-desktop/nbbuild/
/gdx-vr-html/nbbuild/
/gdx-vr-ios/nbbuild/

/dist/
/gdx-vr-android/dist/
/gdx-vr-core/dist/
/gdx-vr-desktop/dist/
/gdx-vr-html/dist/
/gdx-vr-ios/dist/

/nbdist/
/gdx-vr-android/nbdist/
/gdx-vr-core/nbdist/
/gdx-vr-desktop/nbdist/
/gdx-vr-html/nbdist/
/gdx-vr-ios/nbdist/

nbactions.xml
nb-configuration.xml

## Gradle

/local.properties
.gradle/
gradle-app.setting

## OS Specific
.DS_Store
Thumbs.db

## iOS
/gdx-vr-ios/xcode/*.xcodeproj/*
!/gdx-vr-ios/xcode/*.xcodeproj/xcshareddata
!/gdx-vr-ios/xcode/*.xcodeproj/project.pbxproj
/gdx-vr-ios/xcode/native/
/gdx-vr-ios/IOSLauncher.app
/gdx-vr-ios/IOSLauncher.app.dSYM
